name: ESO Windows Build


on:
  watch:
    types: [started]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout this project
        uses: actions/checkout@v2
        with:
          path: actions

      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: 12.x

      - name: Flutter SDK install
        uses: subosito/flutter-action@v1
        with:
          channel: dev

      - name: Checkout ESO project
        uses: actions/checkout@v2
        with:
          repository: mabDc/eso_from_gitlab
          ref: master
          token: ${{ secrets.ACCESS_TOKEN }}
          path: eso

      - name: Flutter channel change
        run: |
          flutter channel master
          flutter version 1.20.0-7.2.pre
          flutter config --enable-windows-desktop

      - name: Build windows
        run: |
          cd eso
          flutter pub get
          flutter build windows -v

      - name: Upload flutter windows
        uses: actions/upload-artifact@v2
        with:
          name: ESO_WINDOWS
          path: ${{ github.workspace }}/eso/build/windows/runner/Release
          if-no-files-found: error
